@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lato", sans-serif;
}

header {
  height: 100px;
  border-bottom: 1px solid #ececec;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header__inside {
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  height: inherit;
  flex-wrap: wrap;
}

.logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  height: 51px;
  padding-left: 72px;
  box-sizing: border-box;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  text-decoration: none;
}
.logo span {
  font-weight: 900;
  color: #f16d7f;
}

.header__form {
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  height: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
  margin-left: 37px;
}
.header__form input {
  width: 280px;
  height: inherit;
  padding-left: 16px;
  box-sizing: border-box;
  outline: none;
  background-color: #FFFFFF;
  border: 0;
}
.header__form button {
  border-radius: 0px 3px 3px 0px;
  background-color: #FFFFFF;
  height: inherit;
  width: 36px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #a4a4a4;
  border: 0;
  border-left: 1px solid #e8e8e8;
  outline: none;
}

.browse {
  width: 87px;
  height: inherit;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.fa-caret-down-style {
  color: #838383;
  margin-left: 8px;
}

.cart {
  margin-left: auto;
  height: 29px;
  width: 32px;
}

.account {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 26px;
}

.menu {
  height: 51px;
  background-color: #ffffff;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.menu a {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: #222222;
  padding: 17px 0;
}
.menu a:hover {
  color: #f16d7f;
  border-bottom: 3px solid #f16d7f;
  padding-bottom: 15px;
  transition: 0.1s;
}
.menu a:not(:last-child) {
  margin-right: 45px;
}

.banner {
  height: 610px;
  background-color: #e8e8e8;
}

.banner__content {
  height: inherit;
  background: url(../img/banner.png) no-repeat 554px 0;
  background-size: 550px;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.banner__text h1 {
  padding-left: 12px;
  height: 92px;
  box-sizing: border-box;
  border-left: 12px solid #f16d7f;
  font-size: 60px;
  line-height: 0.75;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}

.text-small {
  font-size: 40px;
}

.text-pink {
  font-size: 40px;
  color: #f16d7f;
}

.offers {
  padding: 98px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.offer_box:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url(../img/offer1.jpg);
  background-repeat: no-repeat;
  height: 542px;
}

.offer_box:nth-child(2) {
  background-image: url(../img/offer2.jpg);
  background-repeat: no-repeat;
}

.offer_box:nth-child(3) {
  grid-row-start: 2;
  grid-row-end: 4;
  background-image: url(../img/offer3.jpg);
  background-repeat: no-repeat;
}

.offer_box:last-child {
  background-repeat: no-repeat;
  background-image: url(../img/offer4.jpg);
}

.offer_box {
  position: relative;
}

.offer__label {
  margin-top: 26px;
  width: auto;
  height: 82px;
  background-color: #ffffff;
  padding: 16px 18px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  position: absolute;
}
.offer__label span {
  font-size: 30px;
  color: #f16d7f;
}

.fetureitems h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
  text-align: center;
}

.featureitems__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
  margin-top: 16px;
  text-align: center;
}

.itemsbox {
  margin-top: 60px;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: 261px;
}

.bgimg {
  height: 280px;
}

.bgimg-black {
  height: inherit;
  background-color: rgba(58, 56, 56, 0.83);
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  display: none;
}
.bgimg-black button {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  height: 39px;
  border: 1px solid #ffffff;
  padding: 10px 13px;
  box-sizing: border-box;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  background: transparent;
}
.bgimg-black button img {
  margin-right: 8px;
}

.item:first-child .bgimg {
  background-image: url(../img/item1.jpg);
  background-repeat: no-repeat;
}

.item:nth-child(2) .bgimg {
  background-image: url(../img/item2.jpg);
  background-repeat: no-repeat;
}

.item:nth-child(3) .bgimg {
  background-image: url(../img/item3.jpg);
  background-repeat: no-repeat;
}

.item:nth-child(4) .bgimg {
  background-image: url(../img/item4.jpg);
  background-repeat: no-repeat;
}

.item:nth-child(5) .bgimg {
  background-image: url(../img/item5.jpg);
  background-repeat: no-repeat;
}

.item:nth-child(6) .bgimg {
  background-image: url(../img/item6.jpg);
  background-repeat: no-repeat;
}

.item:nth-child(7) .bgimg {
  background-image: url(../img/item7.jpg);
  background-repeat: no-repeat;
}

.item:nth-child(8) .bgimg {
  background-image: url(../img/item8.jpg);
  background-repeat: no-repeat;
}

.price {
  padding: 15px;
  box-sizing: border-box;
}
.price h3 {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
}
.price p {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  margin-top: 17px;
  margin-bottom: 0!important;
}

.item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.item:hover .bgimg-black {
  display: -ms-flex;
  display: flex;
}

.item:nth-child(n+5) {
  margin-top: 40px;
}

.allproduct {
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  border: none;
  outline: none;
  color: #FFFFFF;
  margin: 60px auto 110px;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.allproduct img {
  margin-left: 3px;
}

.offerForWomen {
  display: -ms-flex;
  display: flex;
  height: 530px;
}

.offerForWomen__banner {
  width: 767px;
  box-sizing: border-box;
  height: inherit;
  background: url(../img/women.jpg) no-repeat;
  background-size: cover;
  padding: 0 40px;
}
.offerForWomen__banner p {
  font-size: 53.7px;
  line-height: 0.8;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin-top: 146px;
}
.offerForWomen__banner p span:last-child {
  font-size: 32.2px;
}

.offerForWomen__pluses {
  height: inherit;
  background-color: #222224;
  color: #fbfbfb;
  box-sizing: border-box;
  width: 373px;
}

.plus {
  padding: 30px 30px 30px 110px;
}
.plus:first-child {
  background: url(../img/plus1.png) no-repeat 36px 30px;
}
.plus:nth-child(2) {
  background: url(../img/plus2.png) no-repeat 36px 30px;
}
.plus:nth-child(3) {
  background: url(../img/plus3.png) no-repeat 36px 30px;
}
.plus h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}
.plus p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin-top: 16px;
}

.subscribe {
  margin-top: 98px;
  height: 438px;
  background: url(../img/subscribe.jpg) no-repeat;
  background-size: cover;
}
.subscribe .container {
  display: -ms-flex;
  display: flex;
}

.subscribe-bg {
  height: inherit;
  background-color: rgba(242, 242, 242, 0.5);
}

.subscribe__reviews {
  width: calc(50% - 0.5px);
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.reviews {
  width: 500px;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.review {
  margin-left: 28px;
}
.review p:first-child {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222222;
}
.review p:nth-child(2) {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222222;
  margin-top: 20px;
  margin-bottom: 40px;
}
.review p span {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.pagination {
  display: inline-block;
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  margin-right: 12px;
}

.balk {
  width: 1px;
  height: 438px;
  background-color: #ffffff;
}

.subscribe__form {
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: calc(50% - 0.5px);
}
.subscribe__form h3 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  text-align: center;
}
.subscribe__form h3 span {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}
.subscribe__form form {
  margin-top: 36px;
  height: 46px;
  display: -ms-flex;
  display: flex;
}
.subscribe__form form input {
  border: none;
  outline: none;
  width: 282px;
  height: inherit;
  box-sizing: border-box;
  padding: 0 14px 0 28px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222222;
  background-color: #e1e1e1;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
}
.subscribe__form form input :focus::-webkit-input-placeholder {
  color: transparent;
}
.subscribe__form form input :focus::-moz-placeholder {
  color: transparent;
}
.subscribe__form form input :focus:-moz-placeholder {
  color: transparent;
}
.subscribe__form form input :focus:-ms-input-placeholder {
  color: transparent;
}
.subscribe__form form button {
  width: 104px;
  height: inherit;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.subscribe__form form button:hover {
  cursor: pointer;
}

.preFooter {
  margin-top: 110px;
  margin-bottom: 90px;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.preFooter__content p {
  width: 437px;
  margin-top: 28px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}

.preFooter__menu h4 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
.preFooter__menu nav {
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.preFooter__menu nav a {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  margin-top: 24px;
}
.preFooter__menu nav a:first-child {
  margin-top: 60px;
}

footer {
  height: 79px;
  background-color: #e6e6e6;
}
footer p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}
footer .container {
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}

.social {
  display: -ms-flex;
  display: flex;
}
.social a {
  text-decoration: none;
  color: #b2b2b2;
  margin-right: 8px;
}
.social a :last-child {
  margin-right: 0;
}
.social i {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.025em;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.social i:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
  transition: 0.3s;
}

.categories {
  height: 148px;
  background-color: #f8f3f4;
}
.categories .container {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  height: inherit;
}

.categories_title {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.breadcrumbs a {
  text-decoration: none;
  font-family: "Lato";
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}
.breadcrumbs a :last-child {
  font-weight: 700;
  color: #f16d7f;
}

.shoppingCartRow {
  margin-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  color: #656565;
}

.shoppingCartRow > div:first-child {
  width: 460px;
}

.shoppingCart {
  margin-top: 70px;
}

.shoppingCart__titles {
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
}

.product {
  display: -ms-flex;
  display: flex;
}

.productText {
  padding-top: 13px;
  padding-bottom: 22px;
  margin-left: 20px;
}
.productText p {
  font-weight: 300;
}

.ProductName {
  margin-bottom: 38px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  color: #222222;
}

.productColor, .productSize {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #575757;
}

.shoppingCartRow > div:not(:first-child) {
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

.productQuanity input {
  width: 54px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  text-align: center;
}

.poductPrice {
  width: 76px;
}

.productShipping {
  width: 58px;
}

.productSubbotial {
  width: 59px;
}

.productAction {
  width: 48px;
}

.shoppingCart__buttons {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}
.shoppingCart__buttons button {
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #4a4a4a;
  text-transform: uppercase;
  padding: 0 38px;
  box-sizing: border-box;
}

.formsArea {
  margin-top: 63px;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.formsArea form {
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.formsArea form input {
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding-left: 18px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
  margin-bottom: 20px;
}
.formsArea form:first-child, .formsArea form:nth-child(2) {
  width: 355px;
}
.formsArea form:first-child button, .formsArea form:nth-child(2) button {
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}
.formsArea form:first-child select {
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding-left: 18px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 22px;
}
.formsArea form:first-child button {
  width: 100px;
}
.formsArea form:nth-child(2) button {
  width: 118px;
}
.formsArea form:nth-child(2) p {
  margin-top: 28px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
}

.pricetotalli {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  padding: 40px;
  box-sizing: border-box;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.pricetotalli p {
  font-size: 11px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #4a4a4a;
  margin-bottom: 14px;
}
.pricetotalli div {
  height: 1px;
  background-color: #e2e2e2;
  width: 100%;
  margin-top: 22px;
  margin-bottom: 17px;
}
.pricetotalli button {
  padding: 0 39px;
  box-sizing: border-box;
  height: 50px;
  background-color: #f16d7f;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.form_title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.totalPrice {
  color: #f16d7f;
}

.slider {
  position: relative;
}
.slider img {
  min-height: 777px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.slider .prev, .slider .next {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.14);
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.slider .prev:hover, .slider .next:hover {
  background-color: #f16d7f;
  transition: 0.2s;
  cursor: pointer;
}
.slider .prev i, .slider .next i {
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}
.slider .prev {
  top: calc(50% - 47px/2);
  left: 0;
}
.slider .next {
  top: calc(50% - 47px/2);
  right: 0;
}

.aboutproduct {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  padding-top: 73px;
  padding-bottom: 122px;
  border: 1px solid #eaeaea;
  top: -80px;
  background: #ffffff;
}

.aboutproduct_inside {
  width: 620px;
  padding: 0 20px;
  box-sizing: border-box;
}

.inside_h3 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: 148px;
}

.inside_h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-top: 18px;
  margin-bottom: 67px;
  text-align: center;
}

.aboutproduct_insidetext {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
  text-align: center;
  margin-bottom: 28px;
}

.productDetails {
  text-align: center;
  margin-bottom: 37px;
}

.productDetails_one {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
}

.productDetails_two {
  color: #2f2f2f;
}

.productDetails span:nth-child(2) {
  margin-right: 44px;
}

.productPrice {
  text-align: center;
  color: #f16d7f;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 43px;
}

.lineinside {
  height: 1px;
  background-color: #eaeaea;
  margin-bottom: 63px;
}

.productForm {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productForm button {
  margin-top: 28px;
  width: 100%;
  height: 55px;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  box-sizing: border-box;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #f16d7f;
}
.productForm button img {
  margin-right: 15px;
}

.productformcomponent {
  width: 144px;
}
.productformcomponent label {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #2f2f2f;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #f16d7f;
}

.modelProductSelectWrap {
  position: relative;
  margin-top: 16px;
}
.modelProductSelectWrap select, .modelProductSelectWrap input {
  width: 144px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  padding-left: 15px;
}
.modelProductSelectWrap i {
  position: absolute;
  color: #bcbcbc;
  display: block;
  right: 6px;
  top: 12px;
  font-size: 12px;
}

.item:first-child .single {
  background-image: url(../img/single1.png);
  background-repeat: no-repeat;
}

.item:nth-child(2) .single {
  background-image: url(../img/single2.png);
  background-repeat: no-repeat;
}

.item:nth-child(3) .single {
  background-image: url(../img/single3.png);
  background-repeat: no-repeat;
}

.item:nth-child(4) .single {
  background-image: url(../img/single4.png);
  background-repeat: no-repeat;
}

.productContent {
  margin-top: 60px;
}

.cardContainer {
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.cardContainer a {
  text-decoration: none;
  display: block;
  margin-top: 14px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 33px;
  font-weight: 400;
  color: #6f6e6e;
}
.cardContainer a:first-child {
  margin-top: 0;
}

.filter {
  width: 100%;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: #f16d7f;
  text-decoration: none!important;
}
.filter:hover {
  text-decoration: none!important;
  color: #f16d7f;
}
.filter:active {
  text-decoration: none!important;
}

.productCard {
  margin-top: 18px;
  border-radius: 0!important;
  background-color: #FFFFFF!important;
  border: 0!important;
  border-bottom: 1px solid #ebebeb!important;
}
.productCard:first-child {
  margin-top: 0;
}

.productCard-header {
  padding: 0;
  border-radius: 0!important;
  border-left: 5px solid #f16d7f;
  background-color: #FFFFFF!important;
  border-bottom: 1px solid #ebebeb!important;
}

.productTitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
  margin-bottom: 25px;
}

.productBrand {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}

.slesh {
  color: #dfdfdf;
  margin: 0 5px;
}

.sizeContant {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}
.sizeContant label {
  margin-right: 23px;
}

.sizeContant > div input[type=checkbox]:checked,
.sizeContant > div input[type=checkbox]:not(:checked) {
  display: none;
}
.sizeContant > div input[type=checkbox]:checked + label,
.sizeContant > div input[type=checkbox]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 22px;
  line-height: 16px;
  cursor: pointer;
}
.sizeContant > div input[type=checkbox]:checked + label:before,
.sizeContant > div input[type=checkbox]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}
.sizeContant > div input[type=checkbox]:checked + label:before,
.sizeContant > div input[type=checkbox]:not(:checked) + label:before {
  border-radius: 2px;
}
.sizeContant > div input[type=checkbox]:checked + label:after,
.sizeContant > div input[type=checkbox]:not(:checked) + label:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
}
.sizeContant > div input[type=checkbox]:checked + label:after,
.sizeContant > div input[type=checkbox]:not(:checked) + label:after {
  left: 3px;
  top: 4px;
  width: 12px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid #6f6e6e;
  border-bottom: 3px solid #6f6e6e;
  transform: rotate(-45deg);
}
.sizeContant > div input[type=checkbox]:not(:checked) + label:after {
  opacity: 0;
}
.sizeContant > div input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.priceRangeValues {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.priceRangeValues span {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}

.productRange input {
  width: 100%;
}

.productRange input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.productRange input[type=range]::-webkit-slider-runnable-track {
  border-radius: 10px/100%;
  height: 7px;
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
}
.productRange input[type=range]::-webkit-slider-thumb {
  background: #f16d7f;
  border: 1px solid #f3f3f3;
  border-radius: 10px/100%;
  cursor: pointer;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  margin-top: -4px;
}
.productRange input[type=range]::-moz-range-track {
  border-radius: 10px/100%;
  height: 5px;
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
}
.productRange input[type=range]::-moz-range-thumb {
  background: #f16d7f;
  border: 1px solid #f16d7f;
  border-radius: 10px/100%;
  cursor: pointer;
}

.sorter {
  margin-top: 40px;
  height: 50px;
  background-color: #f3f3f3;
  display: -ms-flex;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.sorterUnit:first-child {
  margin-right: 10px;
}

.sorterUnit {
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  box-sizing: border-box;
  display: -ms-flex;
  display: flex;
}

.sorter .sorterUnit label, .sorter .sorterUnit select {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  line-height: 30px;
  line-height: 27px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}

.sorter .sorterUnit select {
  border: none;
  border-left: 1px solid #ebebeb;
}

.products {
  margin-top: 48px;
}
.products .col-md-4:nth-child(n+4) {
  margin-top: 38px;
}

.paginationWrap {
  margin-top: 48px;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.paginationWrap .productsPagination {
  border-radius: 3px;
  border: 1px solid #ebebeb;
  width: 261px;
  height: 44px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #aaaaaa;
}
.paginationWrap .productsPagination a {
  color: inherit;
  text-decoration: none;
}
.paginationWrap .productsPagination a:hover {
  color: #f16d7f;
}
.paginationWrap button {
  width: 150px;
  line-height: 44px;
  border-radius: 3px;
  border: 1px solid #f16d7f;
  text-align: center;
  color: #f16d7f;
  background: none;
  cursor: pointer;
}

.pluses {
  height: 341px;
  background-color: #222224;
  margin-top: 110px;
  margin-bottom: -98px;
  padding-top: 90px;
  padding-bottom: 110px;
  box-sizing: border-box;
}
.pluses .container {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.pluses .plusBox {
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plusBox h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin-top: 32px;
}
.plusBox p {
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  text-align: justify;
  margin-top: 16px;
  width: 307px;
}

.ac-container {
  text-align: left;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px;
}

.ac-container label {
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  height: 62px;
  cursor: pointer;
  border-bottom: 1px solid #e8e8e8;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  background: #FFFFFF;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.ac-block {
  width: 100%;
  margin-bottom: 24px;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
  color: #000000;
  border: 0;
}

.ac-container input {
  display: none;
}

.ac-container article {
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-small {
  box-sizing: border-box;
}

.ac-container input:checked ~ article {
  transition: all 0.5s;
  border-bottom: 1px solid #e8e8e8;
  padding: 0px 45px 80px 45px;
  box-sizing: border-box;
}

.ac-radioLabel {
  border: 0!important;
}

.ac-container input:checked ~ article.ac-small {
  height: 300px;
}

.ac-container input:checked ~ article.oneAc {
  height: 475px;
}

.ac-container input:checked ~ article.fiveAc {
  height: 80px;
  box-sizing: border-box;
  padding-bottom: 25px;
}

.ac-title {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 15px;
}

.ac-breadcrumbs {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
}

.ac-breadcrumbs-margin {
  margin-bottom: 34px;
}

label[for=checkout] {
  display: block;
  height: 16px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  background: url(../img/regEmpty.png) no-repeat left center!important;
}

label[for=register] {
  display: block;
  height: 16px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  background: url(../img/regEmpty.png) no-repeat left center!important;
}

#checkout:checked + label {
  background: url(../img/regChecked.png) no-repeat left center!important;
}

#register:checked + label {
  background: url(../img/regChecked.png) no-repeat left center!important;
}

.ac-breadcrumbs-arrow {
  padding-left: 20px;
  background: url(../img/arrows.png) no-repeat left center;
}

.ac-btn {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  width: 180px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-top: 38px;
}

.oneAc {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

#email, #password {
  display: block;
  width: 390px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-bottom: 9px;
}

.required {
  color: #ff0d0d;
}

label[for=email], label[for=password] {
  margin-bottom: 15px;
  height: 20px;
  border: 0;
  padding-left: 0;
}

.ac-btn-mr {
  margin-right: 32px;
}

.ac-breadcrumbs-margin1 {
  margin-bottom: 27px;
}

@media screen and (max-width: 1170px) {
  .container {
    width: auto;
    margin: 0 24px;
  }

  .preFooter {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .subscribe .container {
    flex-direction: column;
    align-items: center;
  }

  .subscribe {
    height: 510px;
  }

  .reviews {
    flex-direction: column;
    align-items: center;
  }

  .balk {
    display: none;
  }

  .subscribe__reviews, .subscribe__form {
    margin-top: 24px;
  }
}
@media screen and (max-width: 970px) {
  .header__form input {
    width: 165px;
  }

  .preFooter {
    flex-direction: column;
  }

  .preFooter__content p {
    width: 100%;
  }

  .preFooter__menu {
    margin: 24px 0;
  }
  .preFooter__menu nav {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .preFooter__menu nav a {
    margin-right: 24px;
  }
}
@media screen and (max-width: 767px) {
  .oneAc {
    flex-direction: column;
  }

  .ac-container input:checked ~ article.oneAc {
    height: 834px;
  }

  .oneAc form:nth-child(2) {
    margin-top: 48px;
  }

  .subscribe__reviews {
    width: 80%;
  }

  header {
    padding: 24px 0;
    height: auto;
  }

  .header__form {
    margin-left: 0;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .menu {
    flex-direction: column;
    height: auto;
  }

  .header__inside {
    flex-direction: column;
  }

  .cart {
    display: none;
  }

  .account {
    margin-left: 0;
  }

  .categories .container {
    flex-wrap: wrap;
  }

  .menu a:not(:last-child) {
    margin-right: 0;
  }
}
@media screen and (max-width: 568px) {
  .subscribe {
    margin-top: 32px;
    height: 570px;
  }

  .review {
    margin-left: 0;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .review p:first-child {
    text-align: center;
    margin-top: 8px;
  }

  .review p:nth-child(2) {
    text-align: center;
    margin-bottom: 20px;
  }

  .ac-container input:checked ~ article.oneAc {
    height: 880px;
  }

  .ac-container input:checked ~ article.fiveAc {
    height: 120px;
  }

  footer .container {
    flex-direction: column;
    justify-content: space-around;
  }
}
@media screen and (max-width: 480px) {
  .categories .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .foggot {
    display: block;
    margin-top: 8px;
  }

  #email, #password {
    width: 100%;
  }

  .subscribe__form form input {
    width: auto;
  }
}
@media screen and (max-width: 411px) {
  .header__form input {
    width: 135px;
  }

  .subscribe {
    height: 623px;
    background-position: 22%;
  }

  .ac-container input:checked ~ article {
    padding: 0px 20px 20px 20px;
  }

  .ac-container input:checked ~ article.fiveAc {
    height: 190px;
  }
}
/*# sourceMappingURL=styles.css.map */
