$textcolor-black: #222222;
$textcolor-pink: #f16d7f;

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
*{
  margin: 0;
  padding: 0;
}
html {
    font-family: 'Lato', sans-serif;
}
header {
    height: 100px;
    border-bottom: 1px solid #ececec;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.header__inside{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  height: inherit;
}
.logo{
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
  height: 51px;
  padding-left: 72px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: $textcolor-black;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  text-decoration: none;
    span{
      font-weight: 900;
      color: #f16d7f;
    }
}
.header__form{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  height: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
  margin-left: 37px;
    input{
      width: 280px;
      height: inherit;
      padding-left: 16px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      outline: none;
      background-color: #FFFFFF;
      border: 0;
    }
    button{
      border-radius: 0px 3px 3px 0px;
      background-color: #FFFFFF;
      height: inherit;
      width: 36px;
      font-size: 14px;
      line-height: 32px;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #a4a4a4;
      border: 0;
      border-left: 1px solid #e8e8e8;
      outline: none;
    }
}
.browse{
  width: 87px;
  height: inherit;
  background-color: #cdcdcc;
  background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
    font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: $textcolor-black;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
.fa-caret-down-style{
  color: #838383;
  margin-left: 8px;
}
.cart{
  margin-left: auto;
  height: 29px;
  width: 32px;
}
.account{
  width: 130px;
  height: 38px;
  background-color: $textcolor-pink;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 26px;
}
.menu{
  height: 51px;
  background-color: #ffffff;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
    a {
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        color: #222222;
        padding: 17px 0;
    }
    a:hover {
        color: $textcolor-pink;
        border-bottom: 3px solid $textcolor-pink;
        padding-bottom: 15px;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
    }
    a:not(:last-child) {
        margin-right: 45px;
    }
}
.banner{
  height: 610px;
  background-color: #e8e8e8;
}
.banner__content{
  height: inherit;
  background: url(../img/banner.png) no-repeat 554px 0;
  background-size: 550px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.banner__text h1{
  padding-left: 12px;
  height: 92px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 12px solid $textcolor-pink;
  font-size: 60px;
  line-height: 0.75;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: $textcolor-black;
}
.text-small{
  font-size: 40px;
}
.text-pink{
  font-size: 40px;
  color: $textcolor-pink;
}
.offers{
  padding: 98px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap:20px;
}
.offer_box:first-child{
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url(../img/offer1.jpg);
  background-repeat: no-repeat;
  height: 542px;
}
.offer_box:nth-child(2){
  background-image: url(../img/offer2.jpg);
  background-repeat: no-repeat;
}
.offer_box:nth-child(3){
  grid-row-start: 2;
  grid-row-end: 4;
    background-image: url(../img/offer3.jpg);
    background-repeat: no-repeat;
}
.offer_box:last-child{
  background-repeat: no-repeat;
  background-image: url(../img/offer4.jpg);
}
.offer_box{
  position: relative;
}
.offer__label{
  margin-top: 26px;
  width: auto;
  height: 82px;
  background-color: #ffffff;
  padding: 16px 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: $textcolor-black;
  position: absolute;
  span{
    font-size: 30px;
    color: $textcolor-pink;
  }
}
.fetureitems h2{
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: $textcolor-black;
  text-align: center;
}
.featureitems__text{
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
  margin-top: 16px;
  text-align: center;
}
.itemsbox{
  margin-top: 60px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.item{
  width: 261px;
}
.bgimg{
  height: 280px;
}
.bgimg-black{
  height: inherit;
  background-color: rgba(58,56,56,0.83);
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  display: none;
  button{
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    height: 39px;
    border: 1px solid #ffffff;
    padding: 10px 13px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    background: transparent;

      img{
        margin-right: 8px;
      }
  }
}
.item:first-child .bgimg{
  background-image: url(../img/item1.jpg);
  background-repeat: no-repeat;
}
.item:nth-child(2) .bgimg{
  background-image: url(../img/item2.jpg);
  background-repeat: no-repeat;
}
.item:nth-child(3) .bgimg{
  background-image: url(../img/item3.jpg);
  background-repeat: no-repeat;
}
.item:nth-child(4) .bgimg{
  background-image: url(../img/item4.jpg);
  background-repeat: no-repeat;
}
.item:nth-child(5) .bgimg{
  background-image: url(../img/item5.jpg);
  background-repeat: no-repeat;
}
.item:nth-child(6) .bgimg{
  background-image: url(../img/item6.jpg);
  background-repeat: no-repeat;
}
.item:nth-child(7) .bgimg{
  background-image: url(../img/item7.jpg);
  background-repeat: no-repeat;
}
.item:nth-child(8) .bgimg{
  background-image: url(../img/item8.jpg);
  background-repeat: no-repeat;
}
.price{
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
    h3{
      font-size: 13px;
      line-height: 1.2;
      font-weight: 600;
      text-transform: uppercase;
      color: #222222;
    }
    p{
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #f16d7f;
      margin-top: 17px;
    }
}
.item:hover{
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.15);
  cursor: pointer;
}
.item:hover .bgimg-black{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.item:nth-child(n+5){
  margin-top: 40px;
}
.allproduct{
  width: 212px;
  height: 48px;
  background-color: $textcolor-pink;
  border:none;
  outline: none;
  color: #FFFFFF;
  margin: 60px auto 110px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
    img{
      margin-left: 3px;
    }
}
.offerForWomen{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 530px;
}
.offerForWomen__banner{
  width: 767px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: inherit;
  background: url(../img/women.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 0 40px;
      p{
        font-size: 53.7px;
        line-height: 0.8;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #ffffff;
        margin-top: 146px;
            span:last-child{
              font-size: 32.2px;
            }
      }
}
.offerForWomen__pluses{
  height: inherit;
  background-color: #222224;
  color: #fbfbfb;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 373px;
}
.plus{
  padding: 30px 30px 30px 110px;
      :first-child{
        background: url(../img/plus1.png) no-repeat 36px 30px;
      }
      :nth-child(2){
        background: url(../img/plus2.png) no-repeat 36px 30px;
      }
      :nth-child(3){
        background: url(../img/plus3.png) no-repeat 36px 30px;
      }
      h3{
        font-size: 20px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #fbfbfb;
      }
      p{
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #fbfbfb;
        margin-top: 16px;
      }
}
.subscribe{
  margin-top: 98px;
  height: 438px;
  background: url(../img/subscribe.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
    .container{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
    }
}
.subscribe-bg{
  height: inherit;
  background-color: rgba(242,242,242,0.5);
}
.subscribe__reviews{
  width: calc(50% - 0.5px);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
.reviews{
  width: 500px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.review{
  margin-left: 28px;
    p:first-child{
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
      font-style: italic;
      letter-spacing: 0.025em;
      color: $textcolor-black;
    }
    p:nth-child(2){
      font-size: 12px;
      line-height: 14px;
      font-weight: 300;
      color: $textcolor-black;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    p span{
      font-size: 16px;
      line-height: 26px;
      font-weight: 700;
      letter-spacing: 0.025em;
      color: $textcolor-pink;
    }
}
.pagination{
  display: inline-block;
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  margin-right: 12px;
}
.balk{
  width: 1px;
  height:438px;
  background-color: #ffffff;
}
.subscribe__form{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: calc(50% - 0.5px);
      h3{
        font-size: 24px;
        line-height: 26px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: $textcolor-black;
        text-align: center;
            span{
              font-size: 14px;
              line-height: 24px;
              text-transform: none;
            }
      }
      form{
        margin-top: 36px;
        height: 46px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
            input{
              border:none;
              outline: none;
              width: 282px;
              height: inherit;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              padding: 0 14px 0 28px;
              font-size: 14px;
              line-height: 16px;
              font-weight: 400;
              letter-spacing: 0.025em;
              color: $textcolor-black;
              background-color: #e1e1e1;
              border-top-left-radius: 23px;
              border-bottom-left-radius: 23px;
              :focus::-webkit-input-placeholder {color: transparent}
              :focus::-moz-placeholder          {color: transparent}
              :focus:-moz-placeholder           {color: transparent}
              :focus:-ms-input-placeholder      {color: transparent}
            }
            button{
              width: 104px;
              height: inherit;
              background-color: $textcolor-pink;
              border-radius: 0px 23px 23px 0px;
              border: none;
              outline:none;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              font-size: 14px;
              line-height: 16px;
              font-weight: 400;
              letter-spacing: 0.025em;
              color: #ffffff;
                :hover{
                  cursor: pointer;
                }
            }
      }
}
.preFooter{
  margin-top: 110px;
  margin-bottom: 90px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.preFooter__content p{
  width: 437px;
  margin-top: 28px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}
.preFooter__menu{
    h4{
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      letter-spacing: 0.025em;
      color: $textcolor-pink;
    }
    nav{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
          a{
            text-decoration: none;
            font-size: 16px;
            line-height: 18px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #898989;
            margin-top: 24px;
              :first-child{
                margin-top: 60px;
              }
          }
    }
}
footer{
  height: 79px;
  background-color: #e6e6e6;
    p{
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #7a7a7a;
    }
    .container{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -ms-align-items: center;
      align-items: center;
      justify-content: space-between;
      height: inherit;
    }
}
.social{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
    a{
      text-decoration: none;
      color: #b2b2b2;
      margin-right: 8px;
        :last-child{
          margin-right: 0;
        }
    }
    i{
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      letter-spacing: 0.025em;
      width: 32px;
      height: 32px;
      background-color: #ffffff;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -ms-align-items: center;
      align-items: center;
      justify-content: center;
        :hover{
          background-color: $textcolor-pink;
          color: #f7f7f8;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
        }
      }
}
.categories{
  height: 148px;
  background-color: #f8f3f4;
      .container{
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: space-between;
        -ms-align-items: center;
        align-items: center;
        height: inherit;
      }
}
.categories_title{
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: $textcolor-pink;
}
.breadcrumbs{
    a{
      text-decoration: none;
      font-family: "Lato";
      font-size: 14px;
      line-height: 20px;
      font-weight: 300;
      text-transform: uppercase;
      color: #636363;
        :last-child{
          font-weight: 700;
          color: $textcolor-pink;
        }
    }
}
.shoppingCartRow{
  margin-top: 20px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  color: #656565;
}
.shoppingCartRow > div:first-child{
  width: 460px;
}
.shoppingCart{
  margin-top: 70px;
}
.shoppingCart__titles{
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: $textcolor-black;
}
.product{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.productText{
  padding-top: 13px;
  padding-bottom: 22px;
  margin-left: 20px;
    p{
     font-weight: 300;
   }
}
.ProductName{
  margin-bottom: 38px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: uppercase;
  color: $textcolor-black;
}
.productColor, .productSize{
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #575757;
}
.shoppingCartRow > div:not(:first-child){
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.productQuanity input{
  width: 54px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  text-align: center;
}
.poductPrice{
  width: 76px;
}
.productShipping{
  width: 58px;
}
.productSubbotial{
  width: 59px;
}
.productAction{
  width: 48px;
}
.shoppingCart__buttons{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
    button{
      height: 50px;
      background-color: #ffffff;
      border: 1px solid #eaeaea;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 700;
      color: #4a4a4a;
      text-transform: uppercase;
      padding: 0 38px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
}
.formsArea{
  margin-top: 63px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
    form{
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
       input{
         height: 45px;
         background-color: #ffffff;
         border: 1px solid #eaeaea;
         padding-left: 18px;
         -webkit-box-sizing: border-box;
         box-sizing: border-box;
         font-size: 13px;
         line-height: 1.2;
         font-weight: 300;
         color: #b1b1b1;
         margin-bottom: 20px;
       }
       :first-child,:nth-child(2){
         width: 355px;
         button{
           height: 35px;
           background-color: #ffffff;
           border: 1px solid #eaeaea;
           font-size: 11px;
           line-height: 1.2;
           font-weight: 700;
           text-transform: uppercase;
           color: #4a4a4a;
         }
       }
       :first-child{
         select{
           height: 45px;
           background-color: #ffffff;
           border: 1px solid #eaeaea;
           padding-left: 18px;
           -webkit-box-sizing: border-box;
           box-sizing: border-box;
           margin-bottom: 20px;
           margin-top: 22px;
         }
         button{
           width: 100px;
         }
       }
       :nth-child(2){
           button{
           width: 118px;
         }
         p{
          margin-top: 28px;
          margin-bottom: 24px;
          font-size: 14px;
          line-height: 1.2;
          font-weight: 300;
          color: #000000;
        }
       }
   }
}
.pricetotalli{
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  padding: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-align-items: flex-end;
  align-items: flex-end;
    p{
      font-size: 11px;
      line-height: 1.2;
      font-weight: 400;
      text-transform: uppercase;
      color: #4a4a4a;
      margin-bottom: 14px;
    }
    div{
      height: 1px;
      background-color: #e2e2e2;
      width: 100%;
      margin-top: 22px;
      margin-bottom: 17px;
    }
    button{
      padding: 0 39px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 50px;
      background-color: $textcolor-pink;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
      border: none;
    }
}
.form_title{
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: $textcolor-black;
}
.totalPrice{
  color: $textcolor-pink;
}
.slider{
  position: relative;
    img{
      min-height: 777px;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
    .prev, .next{
      width: 47px;
      height: 47px;
      background-color: rgba(42,42,42,0.14);
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
          :hover{
              background-color: $textcolor-pink;
              transition: 0.2s;
              cursor: pointer;
          }
        i{
          font-size: 24px;
          line-height: 24px;
          color: #ffffff;
        }
    }
    .prev{
      top: calc(50% - 47px/2);
      left: 0;
    }
    .next{
      top: calc(50% - 47px/2);
      right: 0;
    }
}
.aboutproduct{
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  padding-top: 73px;
  padding-bottom: 122px;
  border: 1px solid #eaeaea;
  top: -80px;
  background: #ffffff;
}
.aboutproduct_inside{
  width: 620px;
  padding: 0 20px;
  box-sizing: border-box;
}
.inside_h3{
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $textcolor-pink;
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: 148px
}
.inside_h2{
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-top: 18px;
  margin-bottom: 67px;
  text-align: center;
}
.aboutproduct_insidetext{
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
  text-align: center;
  margin-bottom: 28px;
}
.productDetails{
  text-align: center;
  margin-bottom: 37px;
}
.productDetails_one{
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
}
.productDetails_two{
  color: #2f2f2f;
}
.productDetails span:nth-child(2){
  margin-right: 44px;
}
.productPrice{
  text-align: center;
  color: $textcolor-pink;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 43px;
}
.lineinside{
  height: 1px;
  background-color: #eaeaea;
  margin-bottom: 63px;
}
.productForm{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
    button{
      margin-top: 28px;
      width: 100%;
      height: 55px;
      background-color: #ffffff;
      border: 1px solid $textcolor-pink;
      box-sizing: border-box;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      color: $textcolor-pink;
      img{
        margin-right: 15px;
      }
    }
}
.productformcomponent{
  width: 144px;
    label{
      font-size: 14px;
      line-height: 24px;
      font-weight: 700;
      color: #2f2f2f;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      color: $textcolor-pink;
    }
}
.modelProductSelectWrap{
  position: relative;
  margin-top: 16px;
  select, input{
    width: 144px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #bcbcbc;
    padding-left: 15px;
    }
  i{
    position: absolute;
    color: #bcbcbc;
    display: block;
    right: 6px;
    top: 12px;
    font-size: 12px;
  }
}
.item:first-child .single{
  background-image: url(../img/single1.png);
  background-repeat: no-repeat;
}
.item:nth-child(2) .single{
  background-image: url(../img/single2.png);
  background-repeat: no-repeat;
}
.item:nth-child(3) .single{
  background-image: url(../img/single3.png);
  background-repeat: no-repeat;
}
.item:nth-child(4) .single{
  background-image: url(../img/single4.png);
  background-repeat: no-repeat;
}
